@import "_normalize.min";
@import "_jquery.fullpage.min.scss";

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #333;
  position: relative;
  text-align: center;
}

.hide {
  display: none;
}

.opacity1 {
  opacity: 1 !important;
}

a {
  text-decoration: none;
  color: #333;
  &:hover {
  text-decoration: none;
    color: #333;
  }
}

@-webkit-keyframes zoom {
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}

@keyframes zoom {
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.landing-page {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

    .title {
    position: relative;
    text-align: center;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
            opacity: 0;
    -webkit-animation: zoom 1s;
            animation: zoom 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    p {
      padding-top: 0px;
      margin-top: 0px;
      padding-bottom: 0px;
      font-size: 5vw;
      font-weight: lighter;
    }
    h1 {
      font-size: 15vw;
      font-weight: 400;
      margin-bottom: 0px;
    }
    .icons {
      height: 100px;
      > a i {
        margin: 0px 10px 50px 10px;
        color: #444;
        padding: 10px;
        font-size: 30px;
        -webkit-transition:all .3s ease-in-out;
        transition: all .3s ease-in-out;
        &:hover {
          color: lightgreen;
          -webkit-transform: scale(1.1);
                  transform: scale(1.1);
        }
      }
    }
  }
}

strong {
  font-weight: 300;
}

span.weak {
    font-weight: 100;
}


#nav-button {
  background: white;
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 5px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  &:hover > span {
    background: #333;
  }
}

#nav-button > span {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background: #999;
  width: 20px;
  height: 2px;
  margin: 2px;
  &.open {
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(1) {
      -webkit-transform:translateY(10px) rotate(45deg);
              transform:translateY(5px) rotate(45deg);
    }
    &:nth-child(3) {
              -webkit-transform: rotate(-45deg) translateY(-10px);
                      transform: rotate(-45deg) translateY(-5px) translateX(5px);
    }
  }
}

#nav-menu {
  background: white;
  min-height: 100vh;
  position: fixed;
  z-index: 100;
  width: 300px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  .nav-container {
    padding: 20px;
    font-size: 1.3rem;
    text-align: center;
    h3 {
      -webkit-box-shadow: inset 0px -1px 0px #999;
              box-shadow: inset 0px -1px 0px #999;
    }
    li {
      padding: 20px 0px;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      /* &:hover {*/
      /*   box-shadow: inset 0px -100px 0px rgba(135, 206, 235, 0.5);*/
      /* }*/
    }
  }
}
.click-to-close {
  background: rgba(0, 0, 0, 0.1);
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 99;
  cursor: pointer;
}

.nav-off {
  -webkit-transform: translateX( -300px);
          transform: translateX( -300px);
}

.nav-button-open {
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
}


/* gallery*/

#fullpage {
  opacity: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.section {
  img {
    width: 80%;
  }
  @media (max-width: 900px){
    img {
      width: 98%;
    }
  }
}

#fp-nav{
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
@media (max-width: 500px){
  #fp-nav {
    display: none;
  }
}
#fp-nav:hover {
  background: rgba(255,255,255,0.4);
  border-radius: 20px;
}

.smaller-nav-item {
  font-size: 0.9rem;
}

#arch li:hover {
  -webkit-box-shadow: inset 0px -100px 0px rgba(255, 165, 0, 0.7);
          box-shadow: inset 0px -100px 0px rgba(255, 165, 0, 0.7);
}
#wed li:hover {
  -webkit-box-shadow: inset 0px -100px 0px rgba(0, 255, 0, 0.5);
          box-shadow: inset 0px -100px 0px rgba(0, 255, 0, 0.5);
}
#port li:hover {
  -webkit-box-shadow: inset 0px -100px 0px rgba(135, 206, 235, 0.7);
          box-shadow: inset 0px -100px 0px rgba(135, 206, 235, 0.7);
}
#food li:hover {
  -webkit-box-shadow: inset 0px -100px 0px rgba(255, 0, 0, 0.4);
          box-shadow: inset 0px -100px 0px rgba(128, 0, 128, 0.5);
}
#blog li:hover {
  -webkit-box-shadow: inset 0px -100px 0px rgba(250, 128, 114, 0.7);
          box-shadow: inset 0px -100px 0px rgba(250, 128, 114, 0.7);
}
#home li:hover {
  -webkit-box-shadow: inset 0px -100px 0px rgba(27, 34, 218, 0.4);
          box-shadow: inset 0px -100px 0px rgba(27, 34, 218, 0.4)
}


footer {
  position: fixed;
  bottom: 5px;
  width: 100vw;
  text-align: center;
  > span{
    background-color: rgba(255,255,255,0.2);
    padding: 2px;
    border-radius: 2px;
  }
}


/* loader*/

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

#spinner-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
