{% extends 'layout.html' %}

{% block content %}

{% include "loader.html" %}
<div id="fullpage">
  <div class="section" id="section1"><img src="img/Architecture/architecture_1.jpeg.jpg" alt=""></div>
  <div class="section" id="section2"><img src="img/Architecture/architecture_2.jpeg.jpg" alt=""></div>
  <div class="section" id="section3"><img src="img/Architecture/architecture_3.jpeg.jpg" alt=""></div>
  <div class="section" id="section4"><img src="img/Architecture/architecture_4.jpeg.jpg" alt=""></div>
  <div class="section" id="section5"><img src="img/Architecture/architecture_5.jpeg.jpg" alt=""></div>
  <div class="section" id="section6"><img src="img/Architecture/architecture_6.jpeg.jpg" alt=""></div>
  <div class="section" id="section7"><img src="img/Architecture/architecture_7.jpeg.jpg" alt=""></div>
  <div class="section" id="section8"><img src="img/Architecture/architecture_8.jpeg.jpg" alt=""></div>
  <div class="section" id="section9"><img src="img/Architecture/architecture_9.jpeg.jpg" alt=""></div>
  <div class="section" id="section10"><img src="img/Architecture/architecture_10.jpeg.jpg" alt=""></div>
  <div class="section" id="section11"><img src="img/Architecture/architecture_11.jpeg.jpg" alt=""></div>
  <div class="section" id="section12"><img src="img/Architecture/architecture_12.jpeg.jpg" alt=""></div>
  <div class="section" id="section14"><img src="img/Architecture/architecture_14.jpeg.jpg" alt=""></div>
  <div class="section" id="section15"><img src="img/Architecture/architecture_15.jpeg.jpg" alt=""></div>
  <div class="section" id="section16"><img src="img/Architecture/architecture_16.jpeg.jpg" alt=""></div>
  <div class="section" id="section17"><img src="img/Architecture/architecture_17.jpeg.jpg" alt=""></div>
  <div class="section" id="section18"><img src="img/Architecture/architecture_18.jpeg.jpg" alt=""></div>
  <div class="section" id="section19"><img src="img/Architecture/architecture_19.jpeg.jpg" alt=""></div>
  <div class="section" id="section20"><img src="img/Architecture/architecture_20.jpeg.jpg" alt=""></div>
  <div class="section" id="section21"><img src="img/Architecture/architecture_21.jpeg.jpg" alt=""></div>
  <div class="section" id="section22"><img src="img/Architecture/architecture_22.jpeg.jpg" alt=""></div>
  <div class="section" id="section23"><img src="img/Architecture/architecture_23.jpeg.jpg" alt=""></div>
  <div class="section" id="section24"><img src="img/Architecture/architecture_24.jpeg.jpg" alt=""></div>
  <div class="section" id="section25"><img src="img/Architecture/architecture_25.jpeg.jpg" alt=""></div>
  <div class="section" id="section26"><img src="img/Architecture/architecture_26.jpeg.jpg" alt=""></div>
  <div class="section" id="section27"><img src="img/Architecture/architecture_27.jpeg.jpg" alt=""></div>
</div>
{% include "footer.html" %}
{% endblock %}
