{% extends 'layout.html' %}

{% block content %}
<div id="fullpage">
  <div class="section" id="section1"><img src="img/Architecture/architecture_1.jpeg.jpg" alt=""></div>
  <div class="section" id="section5"><img src="img/Architecture/architecture_5.jpeg.jpg" alt=""></div>
  <div class="section" id="section6"><img src="img/Architecture/architecture_6.jpeg.jpg" alt=""></div>
  <div class="section" id="section7"><img src="img/Architecture/architecture_7.jpeg.jpg" alt=""></div>
  <div class="section" id="section8"><img src="img/Architecture/architecture_8.jpeg.jpg" alt=""></div>
  <div class="section" id="section9"><img src="img/Architecture/architecture_9.jpeg.jpg" alt=""></div>
  <div class="section" id="section10"><img src="img/Architecture/architecture_10.jpeg.jpg" alt=""></div>
</div>
{% endblock %}
