{% extends 'layout.html' %}

{% block content %}

{% include "loader.html" %}
<div id="fullpage">
  <div class="section" id="section1"><img src="img/FoodandDrinks
    /foodjpg" alt=""></div>
  <div class="section" id="section2"><img src="img/FoodandDrinks
    /food2.jpg" alt=""></div>
  <div class="section" id="section3"><img src="img/FoodandDrinks
    /food3.jpg" alt=""></div>
  <div class="section" id="section4"><img src="img/FoodandDrinks
    /food4.jpg" alt=""></div>
  <div class="section" id="section5"><img src="img/FoodandDrinks
    /food5.jpg" alt=""></div>
  <div class="section" id="section6"><img src="img/FoodandDrinks
    /food6.jpg" alt=""></div>
  <div class="section" id="section7"><img src="img/FoodandDrinks
    /food7.jpg" alt=""></div>
  <div class="section" id="section8"><img src="img/FoodandDrinks
    /food8.jpg" alt=""></div>
  <div class="section" id="section9"><img src="img/FoodandDrinks
    /food9.jpg" alt=""></div>
  <div class="section" id="section10"><img src="img/FoodandDrinks
    /food10.jpg" alt=""></div>
  <div class="section" id="section11"><img src="img/FoodandDrinks
    /food11.jpg" alt=""></div>
  <div class="section" id="section12"><img src="img/FoodandDrinks
    /food12.jpg" alt=""></div>
  <div class="section" id="section13"><img src="img/FoodandDrinks
    /food13.jpg" alt=""></div>
  <div class="section" id="section14"><img src="img/FoodandDrinks
    /food14.jpg" alt=""></div>
  <div class="section" id="section15"><img src="img/FoodandDrinks
    /food15.jpg" alt=""></div>
  <div class="section" id="section16"><img src="img/FoodandDrinks
    /food16.jpg" alt=""></div>
</div>
{% include "footer.html" %}
{% endblock %}
