{% extends 'layout.html' %}

{% block content %}

{% include "loader.html" %}
<div id="fullpage">
  <div class="section" id="section1"><img src="img/Portraits/portraits-1.jpg" alt=""></div>
  <div class="section" id="section2"><img src="img/Portraits/portraits-2.jpg" alt=""></div>
  <div class="section" id="section3"><img src="img/Portraits/portraits-3.jpg" alt=""></div>
  <div class="section" id="section4"><img src="img/Portraits/portraits-4.jpg" alt=""></div>
  <div class="section" id="section5"><img src="img/Portraits/portraits-5.jpg" alt=""></div>
  <div class="section" id="section6"><img src="img/Portraits/portraits-6.jpg" alt=""></div>
  <div class="section" id="section7"><img src="img/Portraits/portraits-7.jpg" alt=""></div>
  <div class="section" id="section8"><img src="img/Portraits/portraits-8.jpg" alt=""></div>
  <div class="section" id="section9"><img src="img/Portraits/portraits-9.jpg" alt=""></div>
  <div class="section" id="section10"><img src="img/Portraits/portraits-10.jpg" alt=""></div>
  <div class="section" id="section11"><img src="img/Portraits/portraits-11.jpg" alt=""></div>
  <div class="section" id="section12"><img src="img/Portraits/portraits-12.jpg" alt=""></div>
  <div class="section" id="section13"><img src="img/Portraits/portraits-13.jpg" alt=""></div>
  <div class="section" id="section14"><img src="img/Portraits/portraits-14.jpg" alt=""></div>
  <div class="section" id="section15"><img src="img/Portraits/portraits-15.jpg" alt=""></div>
  <div class="section" id="section16"><img src="img/Portraits/portraits-16.jpg" alt=""></div>
  <div class="section" id="section17"><img src="img/Portraits/portraits-17.jpg" alt=""></div>
  <div class="section" id="section18"><img src="img/Portraits/portraits-18.jpg" alt=""></div>
  <div class="section" id="section19"><img src="img/Portraits/portraits-19.jpg" alt=""></div>
  <div class="section" id="section20"><img src="img/Portraits/portraits-20.jpg" alt=""></div>
  <div class="section" id="section21"><img src="img/Portraits/portraits-21.jpg" alt=""></div>
</div>
{% include "footer.html" %}
{% endblock %}
